body { font-family: Arial; margin:0; background:#f4f4f4; }
header { background: orange; padding:10px; display:flex; align-items:center; gap:10px; }
.logo { height:60px; }
nav { background:#000; padding:10px; text-align:center; }
nav a { color:#fff; margin:0 10px; text-decoration:none; }
.search { padding:20px; text-align:center; }
.search input, button { padding:10px; margin:5px; }
footer { background:#111; color:white; text-align:center; padding:10px; }
.brand { color: limegreen; text-decoration:none; }
